<template>
  <lightning-card>
    <div slot="title">
      <span class="slds-card__header-link">Forecast</span>
    </div>
    <lightning-button-group slot="actions">
      <lightning-button-icon icon-name="utility:back" onclick={handlePreviousWeekClick}></lightning-button-icon>
      <lightning-button-menu label={formattedWeekStartDate} onselect={handleMenuSelect}>
        <lightning-menu-item label="Submit This Week" value="submit"></lightning-menu-item>
      </lightning-button-menu>
      <lightning-button-icon icon-name="utility:forward" onclick={handleNextWeekClick}></lightning-button-icon>
    </lightning-button-group>
    <template if:true={resourceAssignments}>
      <lightning-layout multiple-rows="true">
        <template for:each={resourceAssignments} for:item="resourceAssignment">
          <lightning-layout-item key={resourceAssignment.Id} size="4" padding="around-small">
            <c-forecast-viewer-item resource-assignment={resourceAssignment}>
            </c-forecast-viewer-item>
          </lightning-layout-item>
        </template>
      </lightning-layout>
    </template>
    <template if:true={error}>
      Error: {error.message}
    </template>
  </lightning-card>
</template>