<template>
  <lightning-tile label={project} type="media" href={recordPageUrl}>
    <lightning-icon slot="media" icon-name="custom:custom53"></lightning-icon>
    <dl class="slds-dl_horizontal">
      <dt class="slds-dl_horizontal__label">
        <p class="slds-truncate">Role:</p>
      </dt>
      <dd class="slds-dl_horizontal__detail slds-tile__meta">
        <p class="slds-truncate">{role}</p>
      </dd>
      <dt class="slds-dl_horizontal__label">
        <p class="slds-truncate">Forecast:</p>
      </dt>
      <dd class="slds-dl_horizontal__detail slds-tile__meta">
        <p class="slds-truncate">{forecastHours}</p>
      </dd>
      <dt class="slds-dl_horizontal__label">
        <p class="slds-truncate">Worked:</p>
      </dt>
      <dd class="slds-dl_horizontal__detail slds-tile__meta">
        <p class="slds-truncate">{hoursWorked}</p>
      </dd>
    </dl>
  </lightning-tile>
</template>