<template>
    <lightning-record-edit-form
        object-api-name="FMZ_Timesheet_Detail__c"
        onload={handleLoad}
        onsuccess={handleSuccess}
        data-name="form"
    >
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-messages></lightning-messages>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-formatted-text value="User: "></lightning-formatted-text>
                <strong>
                    <lightning-formatted-text value={userName}></lightning-formatted-text>
                </strong>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-formatted-text value="Week: "></lightning-formatted-text>
                <strong>
                    <lightning-formatted-text value={timesheetWeek}></lightning-formatted-text>
                </strong>
            </lightning-layout-item>
            <lightning-layout-item size="6">
                <lightning-formatted-text value="Total hours for this week:"></lightning-formatted-text>
                <strong>
                    <lightning-formatted-number value={timesheetHours}></lightning-formatted-number>
                </strong>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input-field field-name="Date_Worked__c" onchange={handleDateChange}></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-radio-group
                    label="Resource Assignment"
                    options={resourceAssignmentOptions}
                    required
                    type="radio"
                    data-name="Resource_Assignment_Selector"
                    onchange={handleResourceAssignmentSelected}
                >
                </lightning-radio-group>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input-field field-name="Hours_Worked__c"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-input-field field-name="Description__c"></lightning-input-field>
            </lightning-layout-item>

            <!-- add a hidden resource assignment lookup field -->
            <lightning-input-field
                field-name="FMZ_Resource_Assignment__c"
                style="display: none;"
                data-name="Resource_Assignment__c"
            ></lightning-input-field>

            <!-- add a hidden timesheet lookup field -->
            <lightning-input-field field-name="FMZ_Timesheet__c" style="display: none;" data-name="FMZ_Timesheet__c">
            </lightning-input-field>

            <!-- button will auto submit the record-edit-form -->
            <lightning-layout-item size="12" padding="around-small">
                <lightning-button
                    variant="brand"
                    label="Save"
                    type="submit"
                    class="slds-button_full-width"
                    onclick={submit}
                ></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-record-edit-form>
</template>
